#!/bin/bash

openstack overcloud node delete {% if openstack_release >= 16 %}--yes{% endif %} \
--stack {{ stack_id.stdout }} \
--templates \
{% for env_import in env_imports.stdout_lines %}
{{ env_import }}
{% endfor %}
{{ node_uuid }}
