[project]
	description = cloud-config ir plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-contrib
	read = group Anonymous Users
	read = group rhosqeauto-contrib
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/for/refs/*"]
	read = group github/rhos-infra/Everyone
	read = group user/Sorin Sbarnea (ssbarnea)
	push = group github/rhos-infra/Everyone
	push = group user/Sorin Sbarnea (ssbarnea)
	label-Code-Review = -2..+2 group github/rhos-infra/Everyone
	label-Code-Review = -2..+2 group user/Sorin Sbarnea (ssbarnea)
	label-Verified = -1..+1 group github/rhos-infra/Everyone
	label-Verified = -1..+1 group user/Sorin Sbarnea (ssbarnea)
	rebase = group github/rhos-infra/Everyone
	rebase = group user/Sorin Sbarnea (ssbarnea)
	removeReviewer = group github/rhos-infra/Everyone
	removeReviewer = group user/Sorin Sbarnea (ssbarnea)
	submit = group github/rhos-infra/Everyone
	submit = group user/Sorin Sbarnea (ssbarnea)
[access "refs/heads/*"]
	read = group github/rhos-infra/Everyone
	read = group user/Sorin Sbarnea (ssbarnea)
	create = group github/rhos-infra/Everyone
	create = group user/Sorin Sbarnea (ssbarnea)
	push = +force group github/rhos-infra/Everyone
	push = +force group user/Sorin Sbarnea (ssbarnea)
	pushMerge = group github/rhos-infra/Everyone
	pushMerge = group user/Sorin Sbarnea (ssbarnea)
[access "refs/tags/*"]
	push = +force group github/rhos-infra/Everyone
	push = group user/Sorin Sbarnea (ssbarnea)
	push = +force group user/Sorin Sbarnea (ssbarnea)
