- name: Install the database client tools
  become: true
  package:
    name: mariadb
    state: present

- name: Configure root user access to the database
  become: true
  copy:
    remote_src: true
    src: /var/lib/config-data/puppet-generated/mysql/root/.my.cnf
    dest: /root/.my.cnf

- name: Make backup directory
  become: true
  file:
    state: directory
    path: /home/stack/backup
    owner: stack

- name: Perform a backup of the undercloud databases
  become: true
  shell: >-
    mysqldump --all-databases --quick --single-transaction | gzip > /home/stack/backup/dump_db_undercloud.sql.gz

- name: PCS block
  become: true
  delegate_to: "{{ rc_valid_controller_nodes | first }}"
  block:
    - name: Check the status of Pacemaker on the running Controller nodes
      shell: pcs status
      register: pcs_cluster_active
      failed_when: false
      changed_when: false

    - name: Verify pacemaker cluster is active
      assert:
        that:
          - pcs_cluster_active.rc == 0

- name: Mariadb block
  delegate_to: "{{ rc_valid_controller_nodes | first }}"
  become: true
  block:
    - name: Check parameters on each node of the overcloud MariaDB cluster
      shell: >-
        podman exec $(sudo podman ps --filter name=galera-bundle -q)
        mysql --disable-column-names --batch
        -e "SHOW STATUS LIKE 'wsrep_local_state_comment'; SHOW STATUS LIKE 'wsrep_cluster_size';"
      register: mariadb_check_script

    - name: Verify output
      assert:
        that:
          - "'wsrep_local_state_comment\tSynced' in mariadb_check_script.stdout"

- name: Check the RabbitMQ status
  become: true
  delegate_to: "{{ rc_valid_controller_nodes | first }}"
  shell: >-
    podman exec $(sudo podman ps -f name=rabbitmq-bundle -q) rabbitmqctl cluster_status

- name: Run the following command to disable fencing
  become: true
  delegate_to: "{{ rc_valid_controller_nodes | first }}"
  shell: >-
    pcs property set stonith-enabled=false

- name: Check the Compute services are active on the director node
  become: true
  become_user: stack
  shell: |-
    source /home/stack/stackrc
    openstack hypervisor list

- name: Ensure all undercloud containers are running
  become: true
  command: podman ps
